/**************** top page ****************/

#top-container {
  text-align: center;
  background-color: #30E3CA;
  padding-top: 3%;
}

h1 {
  color: #f4f4f4;
  font-family: 'Pacifico', cursive;
}

.welcome {
  padding-top: 4%;
}

p {
  font-family: 'Courgette', cursive;
  color: #f4f4f4;
}

.nav-link {
  font-family: 'Pacifico', cursive;
  text-decoration: underline;
  font-size: 0.75rem;
  color: #827397;
}

.dzul-img {
  padding-top: 3%
}

.nav-link:hover {
  color: red;
}


/**************** mid page ****************/
#middle-container {
  background-color: #E4F9F5;
  padding: 5%;
}

.mid-heading {
  text-align: center;
}

.first-row {
  text-align: center;
  padding: 5%;
}

.icon:hover {
  color: red;
}


/**************** bot page ****************/

#bottom-container {
  text-align: center;
  background-color: #11999E;
  padding: 5% 10% 0 10%;
}

.second-row {
  padding-top: 5%;
}

.biodata-text {
  font-size: 2rem;
  margin-top: 12.5%;
}

/**************** footer ****************/
.foot {
  text-align: center;
  padding: 3%;
  background-color: #30E3CA;
}

.foot-icon {
  margin: 0 20px;
  color: black;
}

.foot-icon:hover {
  color: red;
  text-decoration: underline;
}
